body{
    margin:0;
    background:#f4f6f9;
    font-family:Arial;
}

.container{
    width:500px;
    margin:80px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,.1);
    text-align:center;
}

h1{
    color:#2563eb;
}

input{
    width:100%;
    margin-top:20px;
    margin-bottom:20px;
}

button{
    width:100%;
    padding:15px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:10px;
    cursor:pointer;
}

#status{
    margin-top:20px;
}